
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-weight:600 ;
}
.main_div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_div img{
    padding-bottom: 20px;
}