@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
    --primary_color :   rgb(92, 182, 255);

}
h2{
   
    align-self: left;
    margin-bottom: 8px;
}
* {
  margin: 0px;
 
  font-family: "Poppins", sans-serif;
  
}
body{
    background-color: rgb(238, 247, 255);
    display: flex;
    flex-direction: column;

}

.register-cont{

    align-self: flex-end;
    padding:20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow-x: scroll;
    overflow-x: hidden;
    height:75vh;
}
label{
    font-size:14px;
    font-weight: 600;
    margin-bottom: 5px;
}
select{
   outline: none;
   border: 1px solid #ccc;
   padding: 8px;
   border-radius: 5px;
   box-shadow: none;
}
option{
    outline: none;
   padding: 8px;
   box-shadow: none;

}
input{
   outline: none;
   border: 1px solid #ccc;
   padding: 8px;
   border-radius: 5px;
   
}
.container-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    
}
.birth-gen{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
}
.birth-gen :first-child{
    margin-right: 20px;
}
.lastname{
    margin-left: 20px;
}

.personal-cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
  
    
}
.container1{
    display: flex;
    flex-wrap:wrap;

    margin-right: 20px;
}
.container2{
    width: 30%;
}
.div-2{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.div-2 :first-child{
    margin-right: 20px;
}

.Education-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.option-select{
    padding: 20px;
    flex:1;
    top:0;
    font-size: 14px;
    position: sticky;
}
.option-select li {
    padding: 10px;
    font-weight: 600;
}
.agreem{
    display: flex;
    align-items: center;
    flex-direction: row; 
}
.agreem input{
   padding: 10px;
   margin: 10px;
}
.agreem :last-child{
    margin-left: auto;
}

.button-primary{
    background-color: rgb(60, 145, 255);
    color: white;
    padding: 10px;
    border: none;
    padding:5px 30px 5px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;

}
.header{
    align-items: center;
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.name-header{
    margin-left: 10px;
    
}
.clg-img{
    margin-left: auto;
}
.main-body{
    background-color: rgb(238, 247, 255);
    display: flex;
    flex-direction: row;
}