
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;

    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(231, 239, 255);
}

.main_cont{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inputs{
    margin-top: 40px;
    border-radius: 5px;
    padding: 40px;
  
    background-color: white;
    box-shadow: 0px 1px 2px gray;
    width: 60%;
    display: flex;
    columns: 2;
    flex-wrap: wrap;
}
.inputs button{
    background-color: rgb(31, 91, 255);
    padding: 8px 20px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}
.inputs input,select{
    padding: 8px;
    border-radius: 5px;
    border:1px solid rgb(194, 194, 194);
    box-shadow: 0px 1px 2px rgb(194, 194, 194);
    /* border: none; */
}


.inputs label{
    margin-bottom: 5px;
    font-size: 14px;
}
 .inputs div:nth-child(even){
    margin-left: 20px;
}
.single_input{
    margin-bottom: 20px;
    display: flex;
    width: 48%;
    flex-direction: column;
}

