
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0px;

    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(231, 239, 255);

}


.main-cont{
    background-color: #fff;
    padding: 60px;
    margin:100px 200px 100px 200px;



}
.sub-title{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.inputs{

display: flex;
flex-wrap: wrap;
margin-bottom: 10px;
}
.input-field{
    width:50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
Label{
    margin-bottom: 8px;
    font-weight: 600;
}
input{
    margin-right: 10px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.agreem{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputs button{
    margin-left: auto;
    background-color: rgb(60, 145, 255);
    color: white;
    padding: 10px;
    border: none;
    padding:0px 50px 0px 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;

}
.inputs button:hover{
    background-color: rgb(1, 99, 228);
    cursor: pointer;
}
