<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Email_verification.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main_div">
        <h1>We're reviewing your account</h1>
        <img src="{% static 'css/Email_Verification.png' %}" alt="" width="400px" height="400px">
        <p>Your Account has been paused while member of team reviews it.</p>
        <p>We wil send you mail after reviewing</p>
    </div>
</body>
</html>