<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/PasswordManagment/PasswordResetConfirm.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>Change Password</h2>
    <form action="" method="POST" class="input-cont">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary"> <span class="material-icons">
            lock_reset
            </span> 
            Submit</button>
    </form>
    
</body>
</html>