<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/TPO_New.css' %}" />
  <link rel="stylesheet" href="{% static 'css/ProfileStudent.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/Overview.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="div1">
        <div class="name">
          <label class="ti">Training and Placement</label>
          <p>Shivaji University</p>
        </div>
        <div class="select">


          <li id='2' onclick="show(this.id)">Event</li>
          <li id='3' onclick="show(this.id)">Profile</li>
          <li id='5' onclick="show(this.id)">Advanced Search</li>
          <li id='4' onclick="show(this.id)">Requests</li>
          <li id='6' onclick="show(this.id)">Logout</li>

        </div>
        <div class="help">

        </div>
      </div>
    </div>

    <div class="main_body">

      <div class="Overview" id="D1">

        <div class="overview-body">

          <div class="title">
            <h3>Overview</h3>
          </div>
          <!-- <div class="header-overview">
            <h2>Overview</h2>
            <div>
              <input type="text" placeholder="Search ">
              <button class="btn-primary">Search</button>
            </div>
          </div> -->
          <div class="main-body">
            <div class="body-sub">
              <div class="student">
                <div class="stud-count">
                  <p>Boys</p>
                  <h3>45000</h3>
                </div>
                <div class="stud-count">
                  <p>Girls</p>
                  <h3>65000</h3>
                </div>
                <div class="placed-stu stud-count">
                  <div>
                    C.
                  </div>
                  <div>
                    <h3>650</h3>
                    <p>Placed Students</p>
                  </div>
                  <div>
                    C.
                  </div>
                  <div>
                    <h3>100</h3>
                    <p>Not-Placed Students</p>
                  </div>

                </div>
              </div>
              <div class="Recent-campus">
                <h4 class="div-title">Recent Campus</h4>
                {% for i in data %}
                <div class="single-campus">
                  <h5>{{ i.drive_name }}</h5>
                  <p>{{ i.last_date}}</p>
                </div>
                {% endfor %}

              </div>
            </div>


            <div class="student-req">

              <h4 class="div-title">Requests</h4>
              <div class="single-req">
                {% for s in students%}
                <div>
                  <h5>{{ s.first_name}}</h5>
                  <p>{{ s.ug }}</p>
                </div>

                <div>
                  <button id='1' onclick="action( this.id,'{{ s.PRN }}')">view</button>
                  <button id='2' onclick="action(this.id,'{{ s.PRN }}')">Accept</button>
                  <button id='3' onclick="action(this.id,'{{ s.PRN }}')">Delete</button>

                </div>
                {% endfor %}
              </div>



            </div>



          </div>
        </div>
      </div>

      <div class="Events" id="D2">
        <div class="title">
          <h3>Events</h3>
          <input type="text" placeholder="Search for events" />
          <button type="button" id="add_event">Add Event</button>
        </div>
        <!-- <div class="search">
          <input type="text" placeholder="Search for events" />
          <button type="button" id="search" onclick="search()">Search</button>
          <button type="button" id="add_event">Add Event</button>
        </div> -->
        <div class="cards">

        
          {% for p in data %}
          <div class="sing-card" type="submit" id={{ p.id }}>
            <p id="deadline">Last Date : <b>{{ p.last_date }}</b></p>
            <br /><br /><br /><br />
            <h5>{{ p.drive_name }}</h5>
            <p>{{ p.req }}</p>
            <button id={{ p.drive_name }} value={{ p.id }} name="requestEvent" onclick="openCard(this.value)">View</button>
          </div>
          {% endfor %}



        </div>
      </div>

      <div class="Profile" id="D3">
        <div class="title">
          <h3>Profile</h3>
        </div>
        <div class="Profile-div">
          <div>

            <div class="sub-profile">
              <!-- <form action="" method="POST">
                {% csrf_token %} -->
              <h3>Personal Information</h3>
              <p>you can update personal information</p>
              <div class="text-area">
                <label for="name">Name</label>
                <input type="text" name="Name" id='profile_name' value={{ Profile.fullname }}>
              </div>
              <div class="merge">
                <div class="text-area">
                  <label for="name">Email</label>
                  <input type="Email" name="Email" id='profile_email' value={{ Profile.email }} disabled="True">
                </div>
                <div class="text-area">
                  <label for="name">Mobile</label>
                  <input type="text" name="Mobile" id='profile_mobile' value={{ Profile.mobile }}>
                </div>
              </div>

              <div class="text-area">
                <label for="name">Department</label>
                <input type="text" name="Dep" disabled="True" value={{ Profile.department }}>
              </div>
              <button type="submit" name="updat_profile" onclick="updateProfile()">Update</button>
            </div>
                            
          <!-- </form> -->
          </div>
          <div>
            <!-- <form action="" method="POST">
              {% csrf_token %} -->
              
            <div class="sub-profile">
              <h3>Change Password</h3>
              <p>Update Your Password</p>
              <div class="text-area">
                <label for="name">Old Password</label>
                <input type="password" name="old_pasword" id="old_p">
              </div>
              <div class="merge">
                <div class="text-area">
                  <label for="name">New Password</label>
                  <input type="password" name="new_password" id="new_p">
                </div>
                <div class="text-area">
                  <label for="name">Retype Password</label>
                  <input type="password" name="retype_password" id="retype_p">
                </div>
              </div>

              <button type="submit" name="update_password" onclick="changep()">Update</button>
            </div>
          <!-- </form> -->
          </div>


        </div>

      </div>

      <div class="Request" id="D4">
        <div class="title">
          <h3>Request</h3>
          <input type="text" placeholder="Search for events" id="search_item"/>
        </div>
        <!-- <div class="search-head">
          <h2>Requests</h2>
          <div class="search-h">
            <input type="text" placeholder="Search Student">
            <button class="btn-primary"> <i class="tiny material-icons"> search</i>Search</button>
          </div>

        </div> -->
        <div class="table-div">
          <table>
            <thead>
              <tr>
                <th>PRN</th>
                <th>Name</th>
                <th>Email</th>
                <th>College Name</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody id="tbody">
              {% for i in students %}
              <tr>
                <td>{{ i.PRN }}</td>
                <td>{{ i.first_name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.ug }}</td>
                <td>
                  <div class="btns">
                    <!-- <Button class="accept view">View</Button> -->
                    <Button class="accept" onclick="action(this.value,this.id)" id={{ i.PRN }} value="Accept">Accept</Button>
                    <Button class="reject" onclick="action(this.value,this.id)" id={{ i.PRN }} name="Reject" value="Reject">Reject</Button>
                  </div>
                </td>
              </tr>
              {% endfor %}
          


            </tbody>
          </table>
        </div>
      </div>





    </div>


    <div class="dialog" id="myModal">
      <div class="content">
        <span class="close">&times;</span>
        <div>
          <form class="add-event-card" method="POST">
            {% csrf_token %}
            <h3>Add Event</h3>
            <div>
              <label for="Name of Comapany">Comapany Name</label>
              <input type="text" name="name" >
            </div>
            <div>
              <label for="Name of Comapany">Roll</label>
              <input type="text" name="roll">
            </div>
            <div>
              <label for="Name of Comapany">Minimum Requirements</label>
              <input type="text" name="requirements">
            </div>

            <div class="ctc-pass-cont">
              <div>
                <label for="Name of Comapany">CTC</label>
                <input type="text" name="ctc">
              </div>
              <div>
                <label for="Name of Comapany">Pass Out Year</label>
                <input type="number" name="passouts">
              </div>
            </div>

            <div>
              <label for="Name of Comapany">Last Date</label>
              <input type="date" name="lastdate">
            </div>

            <div>
              <label for="Name of Comapany">Website / Link</label>
              <input type="text" name="link">
            </div>
            <button class="btn-primary" type="submit" name="add_event"> <span class="material-icons">
                post_add
              </span> Post </button>
          </form>
        </div>
      </div>
    </div>



    <div class="view_modal" id="view_modal">
      <div class="view_drive">
        <div class="dialog-inputs">
          <h3>Update</h3>
          <!-- <form action="" method="POST">
            {% csrf_token %} -->
          <div>
            <label for="Name of Comapany">Comapany/Drive Name</label>
            <input type="text" name="u_name" id="drive_name">
          </div>
          <div>
            <label for="Name of Comapany">Description</label>
            <input type="text" name="u_desc" id="desc">
          </div>
          <div>
            <label for="Name of Comapany">Roll</label>
            <input type="text" name="u_roll" id="roll">
          </div>
          <div>
            <label for="Name of Comapany">CTC</label>
            <input type="text" name="u_ctc" id="ctc">
          </div>
          <div>
            <label for="Name of Comapany">Passout</label>
            <input type="text" name="u_passout" id="passout">
          </div>
          <div>
            <label for="Name of Comapany">Last Date</label>
            <input type="text" name="u_lastdate" id="lastdate">
          </div>
          <div>
            <label for="Name of Comapany">Website</label>
            <input type="text" name="u_link" id="link">
          </div>
          <button class="btn-primary" id="updateButton" name="update_event" onclick="updateEvent(this.value)" >Update</button>
        <!-- </form> -->
        </div>

        <div class="list_stud">
          <h3>Students </h3>
          <div class="list-s">
            <table>
              <thead>
                <tr>
                  <th>Sr</th>
                  <th>Name</th>
                  <th>PRN</th>
                </tr>
              </thead>
              <tbody id="slist">
                <!-- Add Here Applied Students -->

                <tr>
                  <td>1</td>
                  <td>Manasi Ranjit Patil</td>
                  <td>2020078384</td>
                </tr>
                
              </tbody>
            </table>
            <!-- <ul>
              <li>Manasi Ranjit Patil</li>
              <li>Manasi Ranjit Patil</li>
    
            </ul> -->
          </div>
        </div>
      </div>
    </div>
</body>

<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("add_event");
  var view = document.getElementById('profile_update');
  var view_modal = document.getElementById("view_modal");
  var span = document.getElementsByClassName("close")[0];
  var card = document.getElementsByClassName("sing-card");
  btn.onclick = function () {
    modal.style.display = "block";
  };

  span.onclick = function () {
    modal.style.display = "none";
  };

  window.onclick = function (event) {
    if (event.target == modal || event.target == view_modal) {
      modal.style.display = "none";
      view_modal.style.display = 'none';
    }

  };

  view.onclick = function(){

  }

  function openCard(id){
      console.log(id)
      let event_data = "";
      // open dialog box here get here all that data 
      $.ajax({
      url: '',
      type: "POST",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
      id:id,
      openCard:''

    },
      success:function(data){
        event_data = JSON.parse(data)
        document.getElementById("drive_name").value = event_data.drive_name
        document.getElementById("desc").value = event_data.Desc
        document.getElementById("ctc").value = event_data.ctc
        document.getElementById("roll").value = event_data.roll
        document.getElementById("link").value = event_data.website
        document.getElementById("passout").value = event_data.passout
        document.getElementById("lastdate").value = event_data.lastdate
        document.getElementById("updateButton").value = event_data.id
        // Fetch students list here
        var students_arr  = event_data.students
        let j=1,out="";
        for(i in students_arr){
          out+='<tr><td>'+j+'</td><td>'+students_arr[i]+'</td><td>'+i+'</td></tr>'
          console.log(i+":"+students_arr[i])
          j++;
        }
        document.getElementById('slist').innerHTML=out
        
        view_modal.style.display = "block";
      }
    })
  }

  function updateEvent(id){
        $.ajax({
          url:'',
          type:'POST',
          data:{
            csrfmiddlewaretoken:'{{ csrf_token }}',
            id:id,
            name:document.getElementById("drive_name").value,
            desc:document.getElementById("desc").value ,
            ctc:document.getElementById("ctc").value,
            roll:document.getElementById("roll").value,
            link:document.getElementById("link").value,
            passout:document.getElementById("passout").value, 
            lastdate:document.getElementById("lastdate").value,
            update_Event:''
          },
          success:function(data){
            event_data = JSON.parse(data)
            document.getElementById("drive_name").value = event_data.drive_name
            document.getElementById("desc").value = event_data.Desc
            document.getElementById("ctc").value = event_data.ctc
            document.getElementById("roll").value = event_data.roll
            document.getElementById("link").value = event_data.website
            document.getElementById("passout").value = event_data.passout
            document.getElementById("lastdate").value = event_data.lastdate
            document.getElementById("updateButton").value = event_data.id
            location.reload()
          }
        })

    }

</script>


<script async defer>
  let monin = document.getElementById('search_item')

  monin.oninput = function(){
    console.log(monin.value)
    $.ajax({
      url:'',
      type:'POST',
      data:{
        csrfmiddlewaretoken:'{{ csrf_token }}',
        inputData:monin.value
      },
      success:function(data){
        let d =  JSON.parse(data),out="";
        console.log(d)
        for (student in d){
              console.log(student) 
              out+='<tr> <td>'+d[student].PRN+'</td><td>'+d[student].Name+'</td><td>'+d[student].Email+'</td> <td>'+d[student].Department +'</td> <td><div class="btns"><Button class="accept" onclick="action(this.value,this.id)" id='+d[student].PRN+' value="Accept">Accept</Button><Button class="reject" onclick="action(this.value,this.id)" id='+d[student].PRN+' name="Reject" value="Reject">Reject</Button></div></td></tr>'
        }
        tbody.innerHTML=out
      }
    })
  }

  function updateProfile(){
    var name = document.getElementById('profile_name')
    var email = document.getElementById('profile_email')
    var mobile = document.getElementById('profile_mobile')
    $.ajax({
      url:'',
      type:'POST',
      data:{
        csrfmiddlewaretoken:'{{ csrf_token }}',
        name:name.value,
        email:email.value,
        mobile:mobile.value,
        updateProfile:''
      },
      success:function(data){
        console.log(JSON.parse(data))
      }
    }) 
  }

  function changep(){
    var old = document.getElementById("old_p")
    var new_p = document.getElementById("new_p")
    var retype_p = document.getElementById("retype_p")
    $.ajax({
      url: '',
      type: "POST",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}',
      update_pass:new_p.value
    },
      success:function(data){
        console.log("Password Updated!!!")
      }
    })
  }

  function action(id, data) {
    let tbody = document.getElementById('tbody')
    url = '/student/Pdashboard'
    var out="";
    $.ajax({
      url: '',
      type: "POST",
      data: { csrfmiddlewaretoken: '{{ csrf_token }}', PRN: data, Action: id },
      success:function(data){
        let d =  JSON.parse(data);
        console.log(d)
        for (student in d){
              console.log(student) 
              out+='<tr> <td>'+d[student].PRN+'</td><td>'+d[student].Name+'</td><td>'+d[student].Email+'</td> <td>'+d[student].Department +'</td> <td><div class="btns"><Button class="accept" onclick="action(this.value,this.id)" id='+d[student].PRN+' value="Accept">Accept</Button><Button class="reject" onclick="action(this.value,this.id)" id='+d[student].PRN+' name="Reject" value="Reject">Reject</Button></div></td></tr>'
        }
        tbody.innerHTML=out
        console.log(d)
      }
    })
   
  }



  function show(id) {
    switch (id) {
      case '1':
        document.getElementById('D2').style.display = "none";
        document.getElementById('D3').style.display = "none";
        document.getElementById('D1').style.display = "block";
        document.getElementById('D4').style.display = "none";
        break;
      case '2':
        document.getElementById('D3').style.display = "none";
        document.getElementById('D1').style.display = "none";
        document.getElementById('D4').style.display = "none";
        document.getElementById('D2').style.display = "block";
        document.getElementById('D5').style.display = "none";
        break;
      case '3':
        document.getElementById('D4').style.display = "none";
        document.getElementById('D2').style.display = "none";
        document.getElementById('D1').style.display = "none";
        document.getElementById('D3').style.display = "block";
        document.getElementById('D5').style.display = "none";
        break;
      case '4':
        console.log("show 4th item ")
        document.getElementById('D4').style.display = "flex ";
        document.getElementById('D2').style.display = "none";
        document.getElementById('D1').style.display = "none";
        document.getElementById('D3').style.display = "none";
        document.getElementById('D5').style.display = "none";
        break;
      case '5':
        var url = window.location.href
        url = url.replace(/dashboard/i, "Filter")
        console.log(url)
        window.location = url
        break;

      case '6':
        var url = window.location.href
        url = url.replace(/dashboard/i, "Signout")
        console.log(url)
        window.location = url
        break;
    }

  }



</script>

</html>