<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="Name" >First Name</label>
        <input type="text" name="Firstname">
        <label for="Name" >Middle Name</label>
        <input type="text"name="Middlename">
        <label for="Name">Last Name</label>
        <input type="text" name="Lastname">
        <label for="Name">Mobile</label>
        <input type="text" name="Mobile">
        <label for="Name">PRN</label>
        <input type="text" name="PRN">
        <button type="submit">submit</button>
    </form>
</body>
</html>