<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Student/Student_Dashboard_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/Student/Student_Dashboard_1.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sidebar">
        <div class="Logo">
            <h2>Placement <br> Management </h2>
            <p>Shivaji University</p>
        </div>
        <div>
            <ul>
                <li id="1" onclick="change_tab(this.id)" value="Event"> <span class="material-icons">work_history</span> Events</li>
                <li id="2" onclick="change_tab(this.id)" value="Profile"> 
                    <span class="material-icons">manage_accounts</span> Profile
                </li>

                <li id="3" onclick="change_tab(this.id)" value="Education">
                    <span class="material-icons">
                        school
                        </span>
                        Education
                </li>
                <li id="4" onclick="change_tab(this.id)" value="Placement">
                    <span class="material-icons">
                        work
                        </span>
                        Placement</li>
                <li><span class="material-icons">
                    logout
                    </span> 
                    Logout</li>
            </ul>
        </div>
    </div>

    <div class="main-body">
        <div class="head">
            <div class="name-header">
                <span class="material-icons">person</span>
                <h3>{{ Personal.first_name }} {{ Personal.middle_name }} {{ Personal.last_name }}</h3>
            </div>
            <div class="name-header with-btn">
                <p id="title_div">Comapny</p>
                <button class="add_company"> Add Company </button>
            </div>
        </div>
        <div class="body-cont">








            <div class="main Profile" id="Main_div">


                <div class="select">
                    <ul>
                        <li id='1' onclick="show(this.id)"><span class="material-icons">person</span>Personal
                            Information</li>
                        <!-- <li id='2' onclick="show(this.id)"><span class="material-icons">school</span>Education</li> -->
                        <li id='3' onclick="show(this.id)"><span
                                class="material-icons">emoji_symbols</span>Co-Curricular</li>
                        <li id='4' onclick="show(this.id)"><span class="material-icons">work</span>Extra-Curricular</li>
                        <li id="5" onclick="show(this.id)"><span class="material-icons">pin</span>Password Management
                        </li>
                    </ul>
                </div>

                <!-- Starting of Personal infomation -->
                <div class="cont" id='D1'>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="header">
                            <div>
                                <h2>Personal Information</h2>
                                <p>This infomation will be displayed and shared to TPO</p>
                            </div>
                            
                            <input type="file" id="imgupload" style="display:none"/> 
                            <label class="image"  title="Click to update profile picture" for="actual-btn" >
                                <img class="profile" src="https://www.jeancoutu.com/globalassets/revamp/photo/conseils-photo/20160302-01-reseaux-sociaux-profil/photo-profil_301783868.jpg" alt="">
                                <button  id="OpenImgUpload" ><span class="material-icons profile-update">edit</span></button>
                            </label>
                        
                        </div>

                        <div class="area">
                            <div class="text-area">
                                <label for="name">First Name</label>
                                <input type="text" value="{{ Personal.first_name }}" name="Firstname">
                            </div>
                            <div class="text-area">
                                <label for="name">Middle Name</label>
                                <input type="text" value="{{ Personal.middle_name }}" name="Middlename">
                            </div>
                            <div class="text-area">
                                <label for="name">Last Name</label>
                                <input type="text" value="{{ Personal.last_name }}" name="Lastname">
                            </div>
                        </div>

                        <div class="area">
                            <div class="text-area username">
                                <label for="name">User Name</label>
                                <input type="text" value="{{ Personal.email }}" disabled="True" name="Username>
                        </div>
                        <div class=" text-area">
                                <label for="name">Birth Date</label>
                                <input type="text" value="{{ Personal.birth_date }}" name="Birthdate">
                            </div>
                        </div>

                        <div class="area">
                            <div class="text-area username">
                                <label for="name">Email</label>
                                <input type="text" value="{{ Personal.email }}" name="Email" disabled="True">
                            </div>
                            <div class="text-area">
                                <label for="name">Contact</label>
                                <input type="number" value="{{ Personal.mobile }}" name="Contact">
                            </div>
                        </div>
                        <div class="area">
                            <div class="text-area">
                                <label for="name">Address</label>
                                <input class="address" type="text" value="{{ Personal.address }}" name="Address">
                            </div>

                        </div>

                        <div class="area">
                            <div class="text-area username">
                                <label for="name">City</label>
                                <input type="text" value="{{ Personal.city }}" name="City">
                            </div>
                            <div class="text-area">
                                <label for="name">State</label>
                                <input type="text" value="{{ Personal.state }}" name="State">
                            </div>
                        </div>
                        <button onclick="callUpdateProfileFunction()" name="updateProfile">Update</button>
                    </form>

                </div>


                <!-- Starting of Education -->
                <div class="cont2" id='D2'>
                    <div class="header">
                        <div>
                            <h2>Education</h2>
                            <p>This infomation will be displayed and shared to TPO</p>
                        </div>

                        <button class="btn-sec">Add Field</button>
                    </div>

                    <div class="area">
                        <div class="text-area">
                            <label for="name">Education Type</label>
                            <input type="text">
                        </div>
                        <div class="text-area">
                            <label for="name">Stream</label>
                            <input type="text">
                        </div>

                    </div>

                    <div class="area">
                        <div class="text-area username">
                            <label for="name">Institute Name</label>
                            <input type="text">
                        </div>

                    </div>

                    <div class="area">
                        <div class="text-area username">
                            <label for="name">Marks/Percentage</label>
                            <input type="text">
                        </div>
                        <div class="text-area">
                            <label for="name">Passing Year</label>
                            <input type="text">
                        </div>
                    </div>



                </div>


                <!-- This is curricualm tab -->
                <div class="cont2" id='D3'>
                    <div class="header">
                        <div>
                            <h2>Co Curricualar</h2>
                            <p>This infomation will be displayed and shared to TPO</p>
                        </div>

                        <button class="btn-sec">Add Field</button>
                    </div>

                    <div class="extra-curr-cont">
                        <div class="text-area">
                            <label for="name">Company Name</label>
                            <input type="text">
                        </div>
                        <div class="text-area">
                            <label for="name">Description</label>
                            <input class="address" type="text">
                        </div>

                    </div>





                </div>


                <!-- This is Experince Area  -->
                <div class="cont2" id='D4'>
                    <div class="header">
                        <div>
                            <h2>Extra Curricular</h2>
                            <p>This infomation will be displayed and shared to TPO</p>
                        </div>
                        <!-- <button class="btn-sec">Add Experience</button> -->
                    </div>

                    <div class="extra-curr-cont">

                        <div class="text-area">
                            <label for="name">Description</label>
                            <textarea class="address" type="text" rows="3"></textarea>
                        </div>

                    </div>
                </div>

                <!-- This is password Area -->
                <div class="cont2" id='D5'>
                    <div class="header">
                        <div>
                            <h2>Password Management</h2>
                            <p>This infomation will be displayed and shared to TPO</p>
                        </div>

                    </div>

                    <div class="extra-curr-cont">

                        <p id="wg" >All Fields Required</p>

                        <div class="text-area">
                            <label for="name">Current Password</label>
                            <input type="password" required>
                        </div>
                        <div class="text-area">
                            <label for="name">New Password</label>
                            <input type="password" id="psw" required>
                        </div>
                        <div class="text-area">
                            <label for="name">Retype New Password</label>
                            <input type="password" required>
                        </div>

                        <button class="btn-primary" type="submit" onclick="UpdatePassword()"><span
                                class="material-icons"> update </span> Update
                            Password</button>

                    </div>
                </div>

            </div>




            <div class="Placement" id="Placement_div">
                <div class="Placement-cards">
                    <div class="company-card">

                        <div class="c-title">
                            <h2>
                                Google
                            </h2>
                            <span class="material-icons"> verified </span>
                            <!-- Add here that blue tick -->
                        </div>

                        <p class="designation">Software Developer</p>

                        <div class="ctc-cont">
                            <div>
                                <label for="Joining Date">Joining Date</label>
                                <h4>12/02/2021</h4>
                            </div>

                            <div>
                                <label for="CTC">CTC</label>
                                <h4>51 LPA</h4>
                            </div>
                        </div>

                        <div class="offer">
                            <label for="Offer Letter">Offer Letter</label>
                            <button class="button-sec"><span class="material-icons">
                                    file_upload
                                </span> Upload</button>
                        </div>

                    </div>
                </div>
            </div>


            <div class="Event" id="Event_div">
                <div class="cards">
                    {% for i in data %}
                    <div class="single-card">
                        <h3>{{ i.drive_name }}</h3>
                        <p>{{ i.req }}</p>
                        <button value={{ i.id }} onclick="apply(this.value)"> Apply</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="Education" id="Education_div">

                <div class="btech">
                    <!-- <form class="btech" action="" method="POST"> -->

                    <div class="info-fields">
                        <h3>Bachelor</h3>
                        <div class="text-area">
                            <label for="name">Stream</label>
                            <select name="" id="ug_stream" value="{{ Education.ug_stream }}" class="value">
                                <option value="">Computer Science Engineering</option>
                                <option value="">Electronics and Telecommunication</option>
                                <option value="">Civil Engineering</option>
                                <option value="">Mechanical Engineering</option>
                                <option value="">Food Technology</option>
                            </select>
                        </div>
                        <div class="text-area">
                            <label for="name">Admission Year</label>
                            <input type="number" id="ug_admission" value="{{ Education.ug_admission }}" class="value">
                        </div>
                        <div class="text-area">
                            <label for="name">Passout Year</label>
                            <input type="number" id="ug_passout" value="{{ Education.ug_passout }}" class="value">
                        </div>
                    </div>

                    <div class="marks-fields">
                        <table>


                            <tr>
                                <th> </th>
                                <th>First Year</th>
                                <th>Second Year</th>
                                <th>Third Year</th>
                                <th>Fourth Year</th>

                            </tr>

                            <tr>
                                <td>
                                    Sem I
                                </td>
                                <td>
                                    <input type="number" id="ug_fy_sem1" value="{{ Education.ug_fy_sem1 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_sy_sem1" value="{{ Education.ug_sy_sem1 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_ty_sem1" value="{{ Education.ug_ty_sem1 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_be_sem1" value="{{ Education.ug_be_sem1 }}"
                                        class="value">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Sem II
                                </td>
                                <td>
                                    <input type="number" id="ug_fy_sem2" value="{{ Education.ug_fy_sem2 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_sy_sem2" value="{{ Education.ug_sy_sem2 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_ty_sem2" value="{{ Education.ug_ty_sem2 }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_be_sem2" value="{{ Education.ug_be_sem2 }}"
                                        class="value">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Atkt's
                                </td>
                                <td>
                                    <input type="number" id="ug_fy_atkt" value="{{ Education.ug_fy_atkt }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_sy_atkt" value="{{ Education.ug_sy_atkt }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_ty_atkt" value="{{ Education.ug_ty_atkt }}"
                                        class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_be_atkt" value="{{ Education.ug_be_atkt }}"
                                        class="value">
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Gap
                                </td>
                                <td>
                                    <input type="number" id="ug_fy_gap" value="{{ Education.ug_fy_gap }}" class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_sy_gap" value="{{ Education.ug_sy_gap }}" class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_ty_gap" value="{{ Education.ug_ty_gap }}" class="value">
                                </td>
                                <td>
                                    <input type="number" id="ug_be_gap" value="{{ Education.ug_be_gap }}" class="value">
                                </td>

                            </tr>



                        </table>
                    </div>

                </div>


                <div class="diploma">
                    <h3>Diploma</h3>
                    <div class="line1">
                        <div class="text-area">
                            <label for="name">College Name</label>
                            <input type="text" id="diploma_college_name" value="{{ Education.diploma_college_name }}"
                                class="value">
                        </div>
                        <div class="text-area">
                            <label for="name">Stream</label>
                            <select name="" id="diploma_stream" value="CE">
                                <option value="CSE">Computer Science Engineering</option>
                                <option value="ENTC">Electronics and Telecommunication</option>
                                <option value="CE">Civil Engineering</option>
                                <option value="ME">Mechanical Engineering</option>
                                <option value="FT">Food Technology</option>
                            </select>
                        </div>
                        <div class="text-area">
                            <label for="name">Passout Year</label>
                            <input type="text" id="diploma_passout" value="{{ Education.diploma_passout }}"
                                class="value">
                        </div>
                    </div>

                    <div class="line1">

                        <div class="text-area">
                            <label for="name">First Year</label>
                            <input type="number" id="diploma_fy" value="{{ Education.diploma_fy }}" class="value">
                        </div>
                        <div class="text-area">
                            <label for="name">Second Year</label>
                            <input type="number" id="diploma_sy" value="{{ Education.diploma_ty }}" class="value">
                        </div>
                        <div class="text-area">
                            <label for="name">Third Year</label>
                            <input type="number" id="diploma_ty" value="{{ Education.diploma_ty }}" class="value">
                        </div>
                        <div class="text-area">
                            <label for="name">Aggregate</label>
                            <input type="number" id="diploma_total" value="{{ Education.diploma_total }}" class="value">
                        </div>

                    </div>
                </div>


                <div class="school">

                    <div class="school-div">
                        <h3>12th</h3>
                        <div class="text-area">
                            <label for="name">College Name</label>
                            <input type="text" id="hsc_college_name" value="{{ Education.hsc_college_name }}"
                                class="value">
                        </div>
                        <div class="line1">
                            <div class="text-area">
                                <label for="name">Marks</label>
                                <input type="number" id="hsc_marks" value="{{ Education.hsc_marks }}" class="value">
                            </div>
                            <div class="text-area">
                                <label for="name">Passout</label>
                                <input type="number" id="hsc_passout" value="{{ Education.hsc_passout }}" class="value">
                            </div>
                        </div>
                    </div>

                    <div class="school-div">
                        <h3>10th</h3>
                        <div class="text-area">
                            <label for="name">School Name</label>
                            <input type="text" id="school_name" class="value" value="{{ Education.school_name }}"
                                class="value">
                        </div>
                        <div class="line1">
                            <div class="text-area">
                                <label for="name">Marks</label>
                                <input type="number" id="school_marks" class="value"
                                    value="{{ Education.school_marks }}" class="value">
                            </div>
                            <div class="text-area">
                                <label for="name">Passout</label>
                                <input type="number" id="school_passout" class="value"
                                    value="{{ Education.school_passout }}" class="value">
                            </div>
                        </div>
                    </div>

                </div>


                <button name="update_education" type="" onclick="update_education()">Update</button>
                <!-- </form> -->
            </div>



        </div>
    </div>
</body>

<script async defer>
    var title = document.getElementById('title_div')
    function change_tab(id) {
        title.innerHTML = document.getElementById(id).innerText
        switch (id) {
            case '1':

                document.getElementById('Main_div').style.display = "none";
                document.getElementById('Placement_div').style.display = "none";
                document.getElementById('Event_div').style.display = "block";
                document.getElementById('Education_div').style.display = "none";
                break;
            case '2':

                document.getElementById('Placement_div').style.display = "none";
                document.getElementById('Event_div').style.display = "none";
                document.getElementById('Main_div').style.display = "flex";
                document.getElementById('Education_div').style.display = "none";
                break;
            case '3':
                document.getElementById('Main_div').style.display = "none";
                document.getElementById('Placement_div').style.display = "none";
                document.getElementById('Event_div').style.display = "none";
                document.getElementById('Education_div').style.display = "flex";

                break;
            case '4':
                document.getElementById('Education_div').style.display = "none";
                document.getElementById('Placement_div').style.display = "block";
                document.getElementById('Event_div').style.display = "none";
                document.getElementById('Main_div').style.display = "none";
                break
        }

    }


    function show(id) {
        switch (id) {
            case '1':
                document.getElementById('D5').style.display = "none";
                document.getElementById('D2').style.display = "none";
                document.getElementById('D3').style.display = "none";
                document.getElementById('D4').style.display = "none";
                document.getElementById('D1').style.display = "block";
                break;
            case '2':
                document.getElementById('D5').style.display = "none";
                document.getElementById('D3').style.display = "none";
                document.getElementById('D4').style.display = "none";
                document.getElementById('D1').style.display = "none";
                document.getElementById('D2').style.display = "block";
                break;
            case '3':
                document.getElementById('D5').style.display = "none";
                document.getElementById('D2').style.display = "none";
                document.getElementById('D4').style.display = "none";
                document.getElementById('D1').style.display = "none";
                document.getElementById('D3').style.display = "block";
                break;
            case '4':
                document.getElementById('D5').style.display = "none";
                document.getElementById('D2').style.display = "none";
                document.getElementById('D3').style.display = "none";
                document.getElementById('D1').style.display = "none";
                document.getElementById('D4').style.display = "block";
                break;
            case '5':
                document.getElementById('D2').style.display = "none";
                document.getElementById('D3').style.display = "none";
                document.getElementById('D1').style.display = "none";
                document.getElementById('D4').style.display = "none";
                document.getElementById('D5').style.display = "block";
                break
        }

    }



</script>



<script>
    let arr = new Set()
    $('#OpenImgUpload').click(function(){ $('#imgupload').trigger('click'); });
    $(".value").on("input", function () {
        arr.add($(this).attr('id'))
        console.log(arr)

    });

    function update_education() {
        let send = ""
        let json_obj = {}
        for (let i of arr) {
            send += "," + i
            json_obj[i] = document.getElementById(i).value
        }

        $.ajax({
            url: '',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                update_education_specified: '',
                id_arr: JSON.stringify(json_obj),
            }
        })
    }

    function apply(id) {
        console
        $.ajax({
            url: '',
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: id,
                apply: ''
            }
        })
    }

    function UpdatePassword() {
        
        pass = document.getElementById("psw")
        console.log(pass.value)
        $.ajax({
            url: '',
            type: "POST",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                id: pass.value,
                UpdatePassword: ''
            },
            success: function () {
                console.log("Data Updated Successfully!!")
            }
        })
    }
</script>

</html>