<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/TPORegister.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <div class="main_cont">
        <h2>Department of Technology</h2>
        <p>Shivaji University</p>
        <p><a href="">I already have an account</a></p>
        
            <form action="" method="POST" class="inputs">
                {% csrf_token %}
            <div class="single_input">
                <label for="Name"> Name</label>
                <input type="text" placeholder="Name" name="Name">
            </div>
            <div class="single_input">
                <label for="Name"> Email</label>
                <input type="text" placeholder="Email Address" name="Email">
            </div>
            <div class="single_input">
                <label for="Name"> Mobile</label>
                <input type="text" placeholder="Mobile" name="Mobile">
            </div>
            <div class="single_input">
                <label for="Name"> Department</label>
                <select class="select" name="Dep">
                    <option value="CSE">Computer Science Engineering</option>
                    <option value="ECE">Eletroncis and Communication Engineering</option>
                    <option value="MECH">Mechnical Engineering</option>
                    <option value="CIVIL">Civil Engineering</option>
                    <option value="EE">Electrical Engineering</option>
                  </select>
            </div>
        
            <div class="single_input">
                <label for="Name"> Passowrd</label>
                <input type="text" placeholder="Password" name="Password">
            </div>
        
            <div class="single_input">
                <label for="Name"> Retype Password</label>
                <input type="text" placeholder="Retype Password" name="RPassword">
            </div>
                <button type="submit" name="TPO_register"> Register</button>
            </form>
       
        
    </div>
</body>
</html>