@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.add-event-card{
  padding: 20px;
  margin-bottom: 20px;
}

.add-event-card div{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.add-event-card label{
  font-weight:400;
}
p {
  color: gray;
  font-size:14px;
}
.header{
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
}
.header button{
  padding-right: 20px;
  padding-left: 20px;
  margin: 15px;
}
.main{
    display: flex;
    flex-direction: row;
    display: none;
}

.sidebar{
    flex:0.2;


}
.select{

  padding-top: 40px;

}
.select li{
  color: rgb(185, 185, 185);
    font-weight: 600;
    font-size: 14px;
    width: 250px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 10px;
    align-items:center;
    transition:0.3s;
}
.select span{
  margin-right: 10px;
}
.select li:hover{
   
   background-color: rgb(60, 145, 255);
    cursor: pointer;
    color:white;
    border-radius: 5px;
 
}


input,select{
    padding:10px;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
    border: 1px solid rgb(212, 212, 212);
}
input:focus{
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;

}
label{
    font-weight: 500;
    font-size: 14px;
    margin-bottom:5px;
}
.text-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-right: 20px;
}
.cont {
  padding: 20px;
 
}
.cont2{
   
    padding: 20px; 
    display: none;
}
.area {
 
  display: flex;
  flex-direction: row;
}



.btn-primary{
  background-color: rgb(60, 145, 255);
  color: white;

  border: none;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  float: right;
}
.btn-primary span{
  margin-right: 10px;
}

.btn-sec{
  color: rgb(60, 145, 255);
  border: 1.5px solid rgba(60, 144, 255, 0.418);
  
  font-weight: 600;
  border-radius: 5px;
}

#resume_form label button{
  padding: 10px 20px ;
}
.extra-curr-cont{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgb(184, 184, 184);
  padding: 4px 20px 20px 20px;
  background-color: #fff;
  margin-top: 10px;
}
.extra-curr-cont>button{
  margin-bottom: 10px;
}
.add_company{
  margin-top: 0px;
}

.co-container .address{
  margin-bottom: 10px;
}

.cont .btn-primary{
  margin-right: 20px;
}
.row-btns{
  display: flex;
  font-display: row;
}
.close{
  padding: 20px;
}

.address{
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}
.address:focus{
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
